.Test {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.Test__buttons {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.Test__button {
	width: 240px;
}

.Test__button--finished {
	width: 100%;
	margin-top: 20px;
}
