.ProjectInfoList {
	margin: 0;
	padding: 0;

	text-align: center;
	list-style: none;
}

.ProjectInfoList__item {
	margin-bottom: 10px;
}

.ProjectInfoList__item:last-child {
	margin-bottom: 0;
}

.ProjectInfoList__item-title {
	display: block;

	font-size: 24px;
}

.ProjectInfoList__item-version {
	display: block;
	margin-bottom: 5px;

	font-size: 18px;
	color: var(--color-brown-l3);
}
