*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
}

body {
	--color-brown: #795548;
	--color-text: #efebe9;
	--color-brown-l4: #d7ccc8;
	--color-brown-l3: #bcaaa4;
	--color-brown-l2: #a1887f;
	--color-brown-l1: #8d6e63;
	--color-brown-d1: #6d4c41;
	--color-brown-d2: #5d4037;
	--color-brown-d3: #4e342e;
	--color-brown-d4: #3e2723;

	margin: 0;

	background-color: var(--color-brown-l1);
	color: var(--color-text);
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
}

img {
	max-width: 100%;
}

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
